.post-img {
  left: 381px;
  top: 115px;
}
.post-img .img1 {
  position: absolute;
  width: 729px;
  height: 545px;
  left: 381px;
  top: 234px;
  border: 1px solid #2fc4b2;
  border-radius: 5px;
}

.post-img .img2 {
  position: absolute;
  width: 135px;
  height: 90px;
  left: 678px;
  top: 790px;
  border: 1px solid #2fc4b2;
  border-radius: 5px;
}
.post-info {
  top: 150px;
  width: 730px;
  justify-content: center;
  display: flex;
}
.post-info .post-avatar {
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-left: 100px;
  clip-path: circle();
}

.post-info .post-name {
  position: absolute;
  width: 177px;
  height: 25px;
  left: 461px;
  top: 157px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.post-info .post-title {
  position: absolute;
  width: 39px;
  height: 19px;
  left: 461px;
  top: 187px;

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.post-info .btn {
  position: absolute;
  width: 100px;
  height: 32px;
  left: 1007px;
  top: 166px;

  background: #2fc4b2;
  color: white;
  border-radius: 5px;
  border: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.post-desc {
  position: absolute;
  width: 729px;
  height: 150px;
  left: 381px;
  top: 907px;
  margin-bottom: 100px;

  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}
