.img-post {
  position: absolute;
  width: 646px;
  height: 484px;
  left: 620px;
  top: 164px;
}
.img-post .img {
  position: absolute;
  width: 646px;
  height: 484px;
}

.greets {
  position: absolute;
  width: 415px;
  height: 183px;

  top: 143px;
}

.greets h3 {
  position: absolute;
  width: 200px;
  height: 33px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.greets h2 {
  position: absolute;
  width: 415px;
  height: 132px;
  top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  display: flex;
  align-items: center;
}
.box-avatar {
  position: absolute;
  width: 415px;
  height: 326px;
  left: 113px;
  top: 189px;
}
.box-avatar .avatar {
  position: absolute;
  max-width: 120px;
  height: 120px;
}

.box-arts {
  position: absolute;
  width: 356px;
  height: 328px;
  left: 113px;
  top: 780px;
}
.box-arts img {
  max-width: 356px;
  max-height: 328px;
}

.user h1 {
  position: absolute;
  width: 200px;
  height: 25px;
  left: 113px;
  top: 711px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
}

.btn-hire {
  position: absolute;
  width: 100px;
  height: 32px;
  left: 113px;
  top: 563px;
}

.hire {
  position: absolute;
  left: 134px;
  width: 100px;
  height: 32px;
  text-align: center;
  background: #2fc4b2;
  border-radius: 5px;
  font-family: Poppins;
}

.follow {
  position: absolute;
  width: 100px;
  height: 32px;
  text-align: center;
  color: black;
  background: #e7e7e7;
  border-radius: 5px;
  font-family: Poppins;
}
