.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 32px 82px;
  border: 1px solid #e1e1e1;
}

.logo {
  position: absolute;
  width: 163.11px;
  height: 47.11px;
  left: 100px;
  top: 16px;
}
.login-register {
  display: flex;
}
.login-btn {
  margin-right: 5px;
}
.login {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 1125px;
  top: 25px;
  font-family: Poppins;
  font-weight: 500;
  color: #613d2b;
  border: 2px solid #613d2b;
  box-sizing: border-box;
  border-radius: 5px;
}
.register-btn {
  margin-left: 5px;
  background: #613d2b;
  border-radius: 5px;
}
.register {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 1240px;
  top: 25px;
  font-family: Poppins;
  font-weight: 500;
  color: white;
  background: #613d2b;
  border-radius: 5px;
}
.logged-in {
  display: flex;
  align-items: center;
}
.cart {
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.cart .pop-up {
  position: absolute;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
  background-color: #f13f3f;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -10px;
}

.img-cart {
  width: 26px;
}
.profile {
  margin-left: 10px;
  position: relative;
  width: 60px;
  height: 60px;
}

.img-profile {
  width: 42px;
  cursor: pointer;
}

.dropdown {
  padding-left: 24px;
}

.dropdown-content {
  display: none;
  border-radius: 10px;
  position: absolute;
  right: -10px;
  top: 3.3vw;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  width: 190px;
}

.dropdown .show {
  display: block;
}

.dropdown .dropdown-content .dropdown-btn {
  display: flex;
  padding-left: 20px;
  align-items: center;
  height: 60px;
  padding-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.dropdown .dropdown-content .dropdown-btn .dropdown-img-icon {
  width: 60px;
  height: 60px;
  padding-bottom: 10px;
}

.dropdown .dropdown-content .dropdown-btn:hover {
  background-color: rgba(177, 177, 177, 0.363);
}

.dropdown-content span {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content span:hover {
  background-color: #ddd;
}

.dropdown-text {
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 33px;
  color: black;
  margin-left: 19px;
}

.dropdown-text profile-text:hover {
  text-decoration: none;
}

.hr {
  width: 180px;
  text-align: center;
}

.li {
  list-style-type: none;
}

.profile-btn {
  padding: 20px 0 0 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.img-btn-profile {
  width: 26px;
}

.img-btn-logout {
  width: 26px;
  padding-left: 3px;
}
.span {
  padding-left: 10px;
}
.show {
  display: block;
}
.roww {
  display: flex;
  align-items: center;

  display: flex;
  flex-direction: row;
}
.num-product-cart {
  position: absolute;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 15px;
  height: 15px;
  z-index: 2;
  background: #f13f3f;
  border-radius: 50%;
}

.num-product-cart p {
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;
}
