.img-view {
  position: absolute;
  width: 635px;
  height: 478px;
  left: 239px;
  top: 179px;

  border-radius: 5px;
}
.img-view1 {
  position: absolute;
  width: 147.46px;
  height: 111px;
  left: 239px;
  top: 677px;

  margin-bottom: 172px;
  border-radius: 5px;
}

.desc-view {
  position: absolute;
  width: 410px;
  height: 150px;
  left: 916px;
  top: 179px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: rgba(0, 0, 0, 0.5);
}
